# Node.js (React)
node_modules/

/.pnp
.pnp.js
# Python (Django)
venv/
.env/
__pycache__/
*.pyc
db.sqlite3

# OS
.DS_Store
#
/build
# SMTP configuration files
smtp.config.js
email.config.js
mail.config.js
smtp-config.*
email-config.*
mail-config.*

# testing
/coverage



